---
- name: directories | create
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: 0775
  loop:
    - "{{ homelab_homedir }}/letsencrypt"
    - "{{ telegraf_dir }}"
    - "{{ backups_dir }}servers/{{ ansible_facts['nodename'] }}"
    - "{{ scripts_dir }}"

- name: directories | truenas
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: 0775
  loop:
    - "{{ backups_dir }}servers/coreelec.{{ secret_domain }}"
    - "{{ backups_dir }}servers/opnsense.{{ secret_domain }}"
  when: "main_nas"
