---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vikunja
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      vikunja:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: vikunja/vikunja
              tag: 1.0.0@sha256:096e8d4067483b770f3899e20655d6235b0b4c6c9c6ec5ef39bae5b270e1a92a
            envFrom:
              - secretRef:
                  name: vikunja-secret
            env:
              VIKUNJA_DATABASE_TYPE: sqlite
              VIKUNJA_DATABASE_PATH: /db/vikunja.db
              VIKUNJA_SERVICE_PUBLICURL: &host "{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"
              VIKUNJA_MAILER_HOST: smtp-relay.default.svc.cluster.local.
              VIKUNJA_MAILER_PORT: "2525"
              VIKUNJA_MAILER_FROMEMAIL: Vikunja <vikunja@${SECRET_DOMAIN}>
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 100Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3456
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          vikunja:
            app:
              - path: /db
                subPath: db
              - path: /app/vikunja/files
                subPath: files
