---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app navidrome
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/onedr0p/navidrome
      tag: 0.49.3@sha256:cff74330f5f402c8bf13e13a20f88ce4981af79679cc2c7930f5e310606e19cd
    env:
      TZ: "${TIMEZONE}"
      ND_DATAFOLDER: /config
      ND_ENABLEGRAVATAR: "true"
      ND_LOGLEVEL: info
      ND_MUSICFOLDER: /mnt/storage/music/Artistes
      ND_PORT: &port 8080
      ND_PROMETHEUS_ENABLED: "true"
      ND_REVERSEPROXYUSERHEADER: "Remote-User"
      ND_REVERSEPROXYWHITELIST: "0.0.0.0/0"
      ND_SCANSCHEDULE: "@every 1h"
      ND_SESSIONTIMEOUT: 24h
    service:
      main:
        ports:
          http:
            port: *port
    serviceMonitor:
      main:
        enabled: true
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          auth.home.arpa/enabled: "true"
          external-dns.home.arpa/enabled: "true"
          hajimari.io/icon: mdi:music
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100
    persistence:
      config:
        enabled: true
        existingClaim: navidrome-config
      music:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/music
        mountPath: /mnt/storage/music
        readOnly: true
    resources:
      requests:
        cpu: 10m
        memory: 250Mi
      limits:
        memory: 750Mi
