# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  dependsOn: []
  interval: 15m
  values:
    controller:
      replicas: 1
    storageClass:
      create: true
      name: nfs-csi
      parameters:
        server: 192.168.9.10
        share: /mnt/vol1/apps/csi-driver-nfs
      mountOptions:
        - nfsvers=4.2
        - nconnect=16
        - hard
        - noatime
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
