---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app vaultwarden
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: vaultwarden/server
      tag: 1.28.1
    env:
      DATA_FOLDER: "data"
      ICON_CACHE_FOLDER: "data/icon_cache"
      ATTACHMENTS_FOLDER: "data/attachments"
      DOMAIN: "https://vaultwarden.${SECRET_CLUSTER_DOMAIN}"
      TZ: "${TIMEZONE}"
      SIGNUPS_ALLOWED: "false"
      WEBSOCKET_ENABLED: "true"
      WEBSOCKET_ADDRESS: 0.0.0.0
      WEBSOCKET_PORT: 3012
      SMTP_HOST: smtp-relay.default.svc.cluster.local.
      SMTP_FROM: vaultwarden@${SECRET_DOMAIN}
      SMTP_FROM_NAME: vaultwarden
      SMTP_PORT: 2525
      SMTP_SECURITY: "off"
    envFrom:
      - secretRef:
          name: *app
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
    service:
      main:
        ports:
          http:
            port: &port 80
          websocket:
            enabled: true
            port: &websocket-port 3012
    persistence:
      data:
        enabled: true
        existingClaim: vaultwarden-data
        mountPath: /data
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          external-dns.home.arpa/enabled: "true"
          hajimari.io/icon: mdi:lock
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  port: *port
              - path: /notifications/hub/negotiate
                pathType: Prefix
                service:
                  port: *port
              - path: /notifications/hub
                pathType: Prefix
                service:
                  port: *websocket-port
        tls:
          - hosts:
              - *host
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
      limits:
        memory: 2Gi
