encryption = "age"

[age]
    identity = "/home/claude/.config/sops/age/keys.txt"
    recipient = "age1hhurqwmfvl9m3vh3hk8urulfzcdsrep2ax2neazqt435yhpamu3qj20asg"

[data]
    alacritty_font_size = {{ alacritty.font_size }}
    alacritty_window_columns = {{ alacritty.window_columns }}
    alacritty_window_lines = {{ alacritty.window_lines }}
    remmina_font_size = {{ remmina.font_size }}
