---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app freshrss
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: freshrss/freshrss
      tag: 1.20.2
    service:
      main:
        ports:
          http:
            port: 80
    env:
      TZ: ${TIMEZONE}
      CRON_MIN: "18,48"
      DOMAIN: "https://freshrss.${SECRET_CLUSTER_DOMAIN}/"
    persistence:
      config:
        enabled: true
        existingClaim: freshrss-config
        mountPath: /var/www/FreshRSS/data
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/icon: mdi:rss
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
