---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sharry
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      sharry:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: eikek0/sharry
              tag: v1.15.0@sha256:f49779d12c0abcdd274e9a9b893ee47f5c7a400ce5c55c2b810ea9706eb5fb14
            envFrom:
              - secretRef:
                  name: sharry-secret
            args:
              - /opt/sharry.conf
            resources:
              requests:
                cpu: 50m
                memory: 250Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9090
    route:
      app:
        hostnames: ["share.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      configmap:
        enabled: true
        type: configMap
        name: sharry-configmap
        globalMounts:
          - path: /opt/sharry.conf
            subPath: sharry.conf
      nfs:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/sharry
        globalMounts:
          - path: /mnt/vol1/apps/sharry
