---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lychee-sync
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      main:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: 0 0 * * 1  # At 00:00 on Monday
        containers:
          main:
            image:
              repository: ghcr.io/auricom/kubectl
              tag: 1.35@sha256:b200fc5aabd8d89f20a1041f4a591b38e3dc888cfa6c636a1dcf2e4f23bb03d0
            command:
              - /bin/bash
              - -c
              - |
                #!/bin/bash

                set -o errexit
                set -o nounset

                result=$(kubectl get pod --selector app.kubernetes.io/name=lychee --output custom-columns=:metadata.name --namespace default)
                LYCHEE_POD=$(echo $result | awk '{ print $NF }')
                if [[ $LYCHEE_POD == *"lychee"* ]]; then
                  kubectl exec --stdin --container app $LYCHEE_POD -- chmod -R 775 /app/storage/tmp/
                  kubectl exec --stdin --container app $LYCHEE_POD -- chmod -R 775 /app/public/uploads/
                  kubectl exec --stdin --container app $LYCHEE_POD -- /bin/sh -c 'for item in /mnt/storage/photo/Gallery/*; do php artisan lychee:sync "$item" --skip_duplicates=1; done'
                else
                  echo "lychee deployment not found"
                  exit 1
                fi
    service:
      app:
        controller: *app
        enabled: false
    serviceAccount:
      lychee-sync: {}
    rbac:
      roles:
        lychee-sync:
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: ["pods"]
              verbs: ["list", "get"]
            - apiGroups: [""]
              resources: ["pods/exec"]
              verbs: ["create"]
      bindings:
        gatus:
          type: ClusterRoleBinding
          roleRef:
            identifier: lychee-sync
          subjects:
            - identifier: lychee-sync
