---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homelab-opnsense-backup
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      homelab-opnsense-backup:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@daily"
        containers:
          app:
            image:
              repository: ghcr.io/auricom/kubectl
              tag: 1.34@sha256:fdc2c52d3d0c6f1037f4b52d85c50683f3b81437136b4bb85fa0aea5e3964e9e
            command:
              - /bin/bash
              - /app/backup.sh
            env:
              OPNSENSE_URL: "https://opnsense.${SECRET_INTERNAL_DOMAIN}"
              S3_URL: "https://s3.${SECRET_EXTERNAL_DOMAIN}"
            envFrom:
              - secretRef:
                  name: homelab-opnsense-backup-secret
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      config:
        enabled: true
        type: configMap
        name: homelab-opnsense-backup-configmap
        defaultMode: 0775 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /app/backup.sh
            subPath: backup.sh
            readOnly: true
      nfs:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/homelab_backups/opnsense
        globalMounts:
          - path: /mnt/nfs/opnsense
