---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homelab-github-notifier
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: homelab-github-notifier-secret
    template:
      engineVersion: v2
      data:
        # pushover
        PUSHOVER_USER_KEY: " {{ .PUSHOVER_USER_KEY }}"
        # pushover-notifier
        HEALTHCHECKS_ID: "{{ .GITHUB_RELEASES_HEALTHCHECKS_ID }}"
        PUSHOVER_APP_TOKEN: "{{ .PUSHOVER_APP_TOKEN }}"
        # github
        GITHUB_API_TOKEN: "{{ .GITHUB_API_TOKEN }}"
  dataFrom:
    - extract:
        key: pushover
    - extract:
        key: pushover-notifier
