---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homelab-github-notifier
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: false
    controllers:
      music-transcode:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: 0 */3 * * * # Every 3 hours
        containers:
          app:
            image:
              repository: ghcr.io/auricom/github-notifier
              tag: rolling@sha256:d7e1025f0c549b0ce08221cffc22bceb31e63ddd06c0e850999495c6706a8362
            command:
              - python
              - /app/github-notifier.py
            envFrom:
              - secretRef:
                  name: homelab-github-notifier-secret
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      config:
        type: configMap
        name: homelab-github-notifier-configmap
        defaultMode: 0644 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
      data:
        existingClaim: *app
        globalMounts:
          - path: /data
      script:
        type: configMap
        name: homelab-github-notifier-configmap
        defaultMode: 0644 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /app/github-notifier.py
            subPath: github-notifier.py
            readOnly: true
