---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rook-ceph-tools
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      labels:
        app: *app
      hostNetwork: true
      securityContext:
        runAsUser: 0
        runAsGroup: 0
    controllers:
      main:
        containers:
          main:
            image:
              repository: rook/ceph
              tag: v1.19.0@sha256:eed2f5037a2637650b8f18d8e7729821d22f1b2efb562a8a1a22232c76e8eefa
            command: [/usr/local/bin/toolbox.sh]
            env:
              ROOK_CEPH_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: rook-ceph-mon
                    key: ceph-username
              ROOK_CEPH_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: rook-ceph-mon
                    key: ceph-secret
            securityContext:
              privileged: true
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      dev:
        type: hostPath
        hostPath: /dev
        globalMounts:
          - path: /dev
      libmodules:
        type: hostPath
        hostPath: /lib/modules
        globalMounts:
          - path: /lib/modules
      mon-endpoint-volume:
        type: configMap
        name: rook-ceph-mon-endpoints
        globalMounts:
          - path: /etc/rook/mon-endpoints
            subPath: data
            readOnly: true
      sysbus:
        type: hostPath
        hostPath: /sys/bus
        globalMounts:
          - path: /sys/bus
