---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bazarr
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: bazarr-secret
    template:
      engineVersion: v2
      data:
        # App
        BAZARR__API_KEY: "{{ .BAZARR__API_KEY }}"
  dataFrom:
    - extract:
        key: bazarr

