---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: k8s-gateway
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://ori-edge.github.io/k8s_gateway/
      chart: k8s-gateway
      version: 2.0.0
      sourceRef:
        kind: HelmRepository
        name: k8s-gateway
        namespace: flux-system
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 5
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 5
  values:
    domain: "${SECRET_CLUSTER_DOMAIN}"
    service:
      type: LoadBalancer
      externalTrafficPolicy: Local
      loadBalancerIP: ${CLUSTER_LB_K8SGATEWAY}
