---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &name reloader
  namespace: &namespace default
spec:
  interval: 15m
  chart:
    spec:
      chart: *name
      version: v0.0.126
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    fullnameOverride: *name
    reloader:
      reloadStrategy: annotations
      podMonitor:
        enabled: true
        namespace: *namespace
