---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-downloader
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: false
        seccompProfile: { type: RuntimeDefault }
    controllers:
      calibre-downloader:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/calibre-web-automated-book-downloader-extbp
              tag: v0.4.0@sha256:9f89f90ffbe373407031b7b441dc11617762b26b6a1a571e08fb3905b1c045f4
            env:
              FLASK_PORT: &port 8084
              INGEST_DIR: &ingest /cwa-book-ingest
              BOOK_LANGUAGE: en
              DEFAULT_SLEEP: 15
              USE_BOOK_TITLE: true
              LOG_LEVEL: debug
              # Use flaresolverr instead of integrated chromium
              EXT_BYPASSER_URL: http://flaresolverr:8191
            command:
              - /bin/sh
              - -c
              - |
                HOME=/app gunicorn --access-logfile - --error-logfile - --worker-class geventwebsocket.gunicorn.workers.GeventWebSocketWorker --workers 1 -t 300 -b 0.0.0.0:8084 cwa_book_downloader.main:app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: *port
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 150Mi
              limits:
                memory: 500Mi
            securityContext:
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
              allowPrivilegeEscalation: false
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["books.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 0s
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      configmap:
        enabled: true
        type: configMap
        name: calibre-downloader-configmap
        defaultMode: 0755 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /app/entrypoint.sh
            subPath: entrypoint.sh
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /app/downloaded_files
            subPath: downloads
          - path: /var/log/cwa-book-downloader/
            subPath: logs
      ingest:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/calibre/ingest
        globalMounts:
          - path: *ingest

