 #====================================================
[Unit]
Description=TrueNAS nfs share {{ item }}
Requires=network-online.service
After=network-online.service
Before=kodi.service

[Mount]
What=truenas.{{ secret_domain }}:/mnt/storage/{{ item }}
Where=/storage/mnt/{{ item }}
Options=
Type=nfs

[Install]
WantedBy=multi-user.target
#====================================================
