---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: flux
  namespace: flux-system
spec:
  groups:
    - name: flux.rules
      rules:
        - alert: FluxComponentAbsent
          annotations:
            summary: Flux component has disappeared from Prometheus target discovery.
          expr: |
            absent(up{job=~".*flux-system.*"} == 1)
          for: 15m
          labels:
            severity: critical
