---
all:
  hosts:
    localhost:
      ansible_connection: local
      ansible_python_interpreter: /usr/bin/python3
    coreelec:
      ansible_user: root
  children:
    truenas-instances:
      hosts:
        truenas:
        truenas-remote:
          ansible_port: 35875
      vars:
        ansible_user: homelab
kubernetes:
  children:
    master:
      hosts:
        k3s-master:
          ansible_host: 192.168.9.100
          ansible_user: fedora
          ansible_ssh_port: 22
    worker:
      hosts:
        k3s-worker1:
          ansible_host: 192.168.9.105
          rook_devices:
            - /dev/nvme0n1
        k3s-worker2:
          ansible_host: 192.168.9.106
          rook_devices:
            - /dev/nvme0n1
        k3s-worker3:
          ansible_host: 192.168.9.107
          rook_devices:
            - /dev/nvme0n1
      vars:
        ansible_user: fedora
