---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lychee
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      enableServiceLinks: false
      # securityContext:
      #   runAsUser: 33
      #   runAsGroup: 33
      #   fsGroup: 33
      #   fsGroupChangePolicy: OnRootMismatch
      #   runAsNonRoot: true
    controllers:
      lychee:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/lycheeorg/lychee
              tag: master@sha256:f2b84162ecbf76df0f079a14d50fa758c1b62a62cdc55736ec3bd42339564f36
            env:
              APP_TIMEZONE: ${TIMEZONE}
              APP_NAME: Lychee
              APP_ENV: production
              APP_DEBUG: false
              APP_FORCE_HTTPS: false
              APP_MAINTENANCE_DRIVER: file
              LOG_VIEWER_ENABLED: true
              LOG_404_ERRORS: true
              CLOCKWORK_ENABLE: false
              APP_URL: https://lychee.${SECRET_EXTERNAL_DOMAIN}
              DB_CONNECTION: sqlite
              DB_DATABASE: storage/database/database.sqlite
              # PUID: 0
              # PGID: 0
              REDIS_HOST: dragonfly.database.svc.cluster.local.
              REDIS_PORT: 6379
              TRUSTED_PROXIES: "*"
            envFrom:
              - secretRef:
                  name: lychee-secret
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet: &probeHttpGet
                    path: /
                    port: &port 8000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  initialDelaySeconds: 0
                  timeoutSeconds: 1
                  periodSeconds: 10
                  failureThreshold: 30
                  httpGet: *probeHttpGet
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          lychee:
            app:
              - path: /app/storage/database
                subPath: db

              - path: /app/public/uploads
                subPath: uploads
              - path: /app/storage/app
                subPath: app
      tmpfs:
        type: emptyDir
        advancedMounts:
          lychee:
            app:
              - path: /app/storage/logs
                subPath: logs
              - path: /app/storage/tmp
                subPath: tmp
      photo:
        enabled: true
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/photo
        globalMounts:
          - path: /mnt/storage/photo
