# {{ ansible_managed }}
ADGUARD_SERVERS={{ adguard_exporter_server }}
ADGUARD_USERNAMES={{ adguard_exporter_username }}
ADGUARD_PASSWORDS={{ adguard_exporter_password }}
INTERVAL={{ adguard_exporter_interval }}
BIND_ADDR={{ adguard_exporter_bind_addr }}
