---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr-node
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              # Intel N100
              - key: feature.node.kubernetes.io/cpu-model.id
                operator: In
                values:
                - "190"
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              # Intel N100
              # - key: feature.node.kubernetes.io/cpu-model.id
              #   operator: In
              #   values:
              #   - "190"
              - key: intel.feature.node.kubernetes.io/gpu
                operator: In
                values:
                - "true"
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      tdarr-node:
        containers:
          node:
            image:
              repository: haveagitgat/tdarr_node
              tag: 2.50.02@sha256:54ac4196091993328a1c5f4e3dd2145cf3c4bb44590ea8b1e0a972292d7af63d
            env:
            - name: nodeID
              value: kube-node
            - name: serverIP
              value: 192.168.169.117
            - name: serverPort
              value: 8266
            - name: inContainer
              value: true
            - name: TZ
              value: Europe/Paris
            resources:
              requests:
                cpu: 100m
              limits:
                cpu: 2
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      movies:
        type: nfs
        server: 192.168.9.10
        path: /var/mnt/vol1/video/movies
        globalMounts:
          - path: /mnt/storage/video/movies
      tv:
        type: nfs
        server: 192.168.9.10
        path: /var/mnt/vol1/video/tv
        globalMounts:
          - path: /mnt/storage/video/tv
      shared:
        type: nfs
        server: 192.168.9.10
        path: /var/mnt/vol1/video/.tdarr
        globalMounts:
          - path: /mnt/cache
