---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app renamarr
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      renamarr:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: 0 */12 * * * # Every 12 hours
        containers:
          app:
            image:
              repository: ghcr.io/hollanbm/renamarr
              tag: 1.2.0@sha256:b562e92f690d83e2522590fa26b35191c2bec93acc7a7c49bb9ff1313bbf73a5
            envFrom:
              - secretRef:
                  name: renamarr-secret
            resources:
              requests:
                cpu: 20m
                memory: 256M
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      scripts:
        type: configMap
        name: renamarr-configmap
        defaultMode: 0444 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
