---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lms
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      lms:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/lms-community/lyrionmusicserver
              tag: stable@sha256:afbe3188eb3283c1a191584b3553974bea7af5a8e6358b0a0bfd4623c220f403
            env:
              AUDIO_DIR: &claude-music /mnt/claude-musique
              PLAYLIST_DIR: &playlists /mnt/playlists
            resources:
              requests:
                memory: 250Mi
                cpu: 15m
              limits:
                memory: 4096Mi
    service:
      app:
        controller: *app
        type: LoadBalancer
        loadBalancerIP: 192.168.169.116
        externalTrafficPolicy: Local
        ports:
          http:
            port: &port 9000
          cli:
            enabled: true
            port: 9090
            protocol: TCP
          slimproto:
            enabled: true
            port: 3483
            protocol: TCP
          slimproto-udp:
            enabled: true
            port: 3483
            protocol: UDP
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      music:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/music
        globalMounts:
          - path: *claude-music
      music-helene:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/home/helene/Musique
        globalMounts:
          - path: /mnt/helene-musique
      playlists:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/music/.lms
        globalMounts:
          - path: *playlists
