---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app scrutiny-collector
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: scrutiny
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
        # capabilities:
        #   add: ["SYS_RAWIO"] # allow access to smartctl
    controllers:
      scrutiny-collector:
        type: daemonset
        containers:
          app:
            image:
              repository: ghcr.io/analogj/scrutiny
              tag: master-collector@sha256:e1c212d8ba95fa93ca030a6b1373bd21885df6771131c6c413cb48514f90bd0f
            env:
              COLLECTOR_API_ENDPOINT: http://scrutiny.observability.svc.cluster.local:8080
              COLLECTOR_HOST_ID:
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
              TZ: ${TIMEZONE}
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 128Mi
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      config:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /opt/scrutiny/config
      udev:
        enabled: true
        type: hostPath
        hostPath: /run/udev
        globalMounts:
          - path: /run/udev
      nvme0n1:
        enabled: true
        type: hostPath
        hostPath: /dev/nvme0n1
        globalMounts:
          - path: /dev/nvme0n1
      sda:
        enabled: true
        type: hostPath
        hostPath: /dev/sda
        globalMounts:
          - path: /dev/sda
