---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-0
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: glob("38:05:25:33:68:8d", mac(link.permanent_addr))
