---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bookstack-mariadb
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        seccompProfile: { type: RuntimeDefault }
    controllers:
      bookstack-mariadb:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: mariadb
              tag: 11.4.8
            env:
              MYSQL_USER: bookstack
              MYSQL_DATABASE: bookstack
              PUID: 1000
              PGID: 1000
            envFrom:
              - secretRef:
                  name: bookstack-mariadb-secret
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
                ephemeral-storage: 50Mi
              limits:
                ephemeral-storage: 2Gi
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
    service:
      app:
        controller: *app
        ports:
          mariadb:
            port: 3306
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /var/lib/mysql
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /run/mysqld
            subPath: run/mysqld
