---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app qbittorrent-upgrade-p2pblocklist
  namespace: &namespace default
spec:
  interval: 15m
  chart:
    spec:
      chart: raw
      version: v0.3.1
      sourceRef:
        kind: HelmRepository
        name: dysnix
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: qbittorrent
      namespace: default
  values:
    resources:
      - apiVersion: batch/v1
        kind: CronJob
        metadata:
          name: *app
          namespace: *namespace
        spec:
          schedule: "@daily"
          jobTemplate:
            spec:
              template:
                metadata:
                  name: *app
                spec:
                  serviceAccountName: jobs
                  containers:
                    - name: *app
                      image: ghcr.io/auricom/kubectl:1.26.0@sha256:f512e3008d0492cbae7aac6eaccc21b13d723374715aaedd59d352d840f0229c
                      imagePullPolicy: IfNotPresent
                      command:
                        - "/bin/bash"
                        - "-c"
                        - |
                          #!/bin/bash

                          set -o errexit
                          set -o nounset

                          curl --silent --location https://github.com/DavidMoore/ipfilter/releases/download/lists/ipfilter.dat.gz --output /tmp/ipfilter.dat.gz
                          gunzip /tmp/ipfilter.dat.gz
                          result=$(kubectl get pod --selector app.kubernetes.io/name=qbittorrent --output custom-columns=:metadata.name --namespace default)
                          QBITTORRENT_POD=$(echo $result | awk '{ print $NF }')
                          if [[ $QBITTORRENT_POD == *"qbittorrent"* ]]; then
                            kubectl cp /tmp/ipfilter.dat default/$QBITTORRENT_POD:/config/ipfilter.dat
                            kubectl rollout restart deployment qbittorrent --namespace default
                            curl http://uptime-kuma.default.svc.cluster.local.:3001/api/push/6RUDha9bDp?status=up&msg=OK&ping=
                            sleep 5
                          else
                            echo "qbittorrent deployment not found"
                            exit 1
                          fi
                  restartPolicy: Never
