---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app lychee
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.1.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: postgres-cluster
      namespace: default
    - name: redis
      namespace: default
  values:
    image:
      repository: lycheeorg/lychee-laravel
      tag: v4.6.2
    env:
      TIMEZONE: ${TIMEZONE}
      APP_NAME: Lychee
      DB_CONNECTION: pgsql
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_DATABASE: lychee
      REDIS_HOST: redis.default.svc.cluster.local.
      REDIS_PORT: 6379
    envFrom:
      - secretRef:
          name: *app
    service:
      main:
        ports:
          http:
            port: 80
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          auth.home.arpa/enabled: "true"
          external-dns.home.arpa/enabled: "true"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      photo:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/photo
        mountPath: /mnt/storage/photo
        readOnly: true
      files:
        enabled: true
        mountPath: /uploads
        existingClaim: lychee-files
    resources:
      requests:
        cpu: 15m
        memory: 256Mi
