---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app resilio-claude
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      resilio-claude:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/auricom/resilio-sync
              tag: 3.1.2@sha256:5880667a0a8f37f5b7e25d7b8ddf3cc5b4d699b09d9cb3775dc00a1f80c3480b
            env:
              - name: TZ
                value: "${TIMEZONE}"
            resources:
              requests:
                cpu: 250m
                memory: 512Mi
              limits:
                memory: 2Gi
    service:
      app:
        controller: *app
        type: LoadBalancer
        loadBalancerIP: 192.168.169.106
        externalTrafficPolicy: Local
        ports:
          http:
            port: &port 8888
          com:
            port: 55555
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      sync-conf:
        type: configMap
        name: resilio-claude-configmap
        globalMounts:
          - path: /app/sync.conf
            subPath: sync.conf
      home-claude:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/home/claude
        globalMounts:
          - path: /sync/home/claude
      music-transcoded:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/music_transcoded
        globalMounts:
          - path: /sync/music_transcoded
      photo:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/photo
        globalMounts:
          - path: /sync/photo
      shared-documents:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/shared-documents
        globalMounts:
          - path: /sync/shared-documents
      video:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/video
        globalMounts:
          - path: /sync/video
