---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app resilio-claude
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/auricom/resilio-sync
      tag: 2.7.3.1381-1@sha256:8dff6ac34d1e761c25f90d080864af0d7a7f13e3f727a5d5e5a798fd460661ae
      env:
        - name: TZ
          value: "${TIMEZONE}"
    service:
      main:
        ports:
          http:
            port: 8888
          com:
            port: 55555
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/icon: mdi:file-arrow-up-down
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: resilio-claude-config
      sync-conf:
        enabled: true
        type: configMap
        configMap:
        name: resilio-claude-sync-conf
        mountPath: /config/sync.conf
        subPath: sync.conf
      backups:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/backups
        mountPath: /sync/backup
      home-claude:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/home/claude
        mountPath: /sync/home/claude
      music-transcoded:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/music_transcoded
        mountPath: /sync/music_transcoded
      photo:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/photo
        mountPath: /sync/photo
      shared-documents:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/shared-documents
        mountPath: /sync/shared-documents
      video:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/video
        mountPath: /sync/video
    podSecurityContext:
      runAsUser: 0
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        memory: 2Gi
