---
# yaml-language-server: $schema=https://kubernetes-schemas.nerdz.cloud/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mariadb
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: mariadb
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      defaultFips: "off"
      security:
        allowInsecureImages: false
    auth:
      usePasswordFiles: false
      existingSecret: mariadb-secret
    metrics:
      enabled: false
    volumePermissions:
      fips:
        openssl: "off"
    primary:
      extraEnvVarsSecret: mariadb-secret
      resourcesPreset: small
      persistence:
        enabled: true
        existingClaim: *app
      fips:
        openssl: "off"
    initdbScripts:
      init-bookstack.sql: |
        CREATE DATABASE IF NOT EXISTS bookstack;
        CREATE USER IF NOT EXISTS 'bookstack'@'%' IDENTIFIED BY '${BOOKSTACK_MARIADB_PASSWORD}';
        GRANT ALL PRIVILEGES ON bookstack.* to 'bookstack'@'%';
        FLUSH PRIVILEGES;
      init-booklore.sql: |
        CREATE DATABASE IF NOT EXISTS booklore;
        CREATE USER IF NOT EXISTS 'booklore'@'%' IDENTIFIED BY '${BOOKLORE_MARIADB_PASSWORD}';
        GRANT ALL PRIVILEGES ON booklore.* to 'booklore'@'%';
        FLUSH PRIVILEGES;
---
# yaml-language-server: $schema=https://kubernetes-schemas.nerdz.cloud/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mariadb-operator
spec:
  chart:
    spec:
      chart: mariadb-operator
      version: 25.10.3
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
  interval: 1h
  values:
    crds:
      enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    webhook:
      cert:
        certManager:
          enabled: true
