---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bookstack
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      bookstack:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/bookstack
              tag: 25.12.20251224
            env:
              TZ: ${TIMEZONE}
              PUID: "1000"
              PGID: "1000"
              APP_URL: "https://docs.${SECRET_DOMAIN}"
              QUEUE_CONNECTION: database
            envFrom:
              - secretRef:
                  name: bookstack-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi
          mariadb:
            image:
              repository: lscr.io/linuxserver/mariadb
              tag: 11.4.8
            env:
              TZ: ${TIMEZONE}
              MYSQL_USER: bookstack
              MYSQL_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: bookstack-secret
                    key: DB_PASSWORD
              MYSQL_DATABASE: bookstack
              MYSQL_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: bookstack-secret
                    key: DB_ROOT_PASSWORD
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["docs.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          bookstack:
            app:
              - path: /config
                subPath: app
            mariadb:
              - path: /config
                subPath: db
