---
apiVersion: k8s.mariadb.com/v1alpha1
kind: Backup
metadata:
  name: mariadb
spec:
  mariaDbRef:
    name: mariadb
  schedule:
    cron: "0 0,6,12,18 * * *"
    suspend: false
  maxRetention: 720h
  compression: bzip2
  storage:
    s3:
      bucket: mariadb
      endpoint: garage.default.svc.cluster.local:3900
      accessKeyIdSecretKeyRef:
        name: mariadb-secret
        key: S3_ACCESS_KEY_ID
      secretAccessKeySecretKeyRef:
        name: mariadb-secret
        key: S3_SECRET_ACCESS_KEY
  args:
    - --single-transaction
    - --all-databases
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 512Mi
