---
apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb
spec:
  rootPasswordSecretKeyRef:
    name: mariadb-secret
    key: MARIADB_ROOT_PASSWORD
  replicas: 3
  replication:
    enabled: true
    primary:
      autoFailover: true
    replica:
      replPasswordSecretKeyRef:
        name: mariadb-secret
        key: MARIADB_REPL_PASSWORD
  storage:
    size: 10Gi
    storageClassName: openebs-hostpath
  port: 3306
  myCnf: |
    [mariadb]
    bind-address=*
    default_storage_engine=InnoDB
    binlog_format=row
    innodb_autoinc_lock_mode=2
    innodb_buffer_pool_size=512M
    max_connections=100
    max_allowed_packet=64M
    sync_binlog=1
    innodb_flush_log_at_trx_commit=1
    slow_query_log=1
    long_query_time=2
  bootstrapFrom:
    s3:
      bucket: mariadb
      endpoint: garage.default.svc.cluster.local:3900
      accessKeyIdSecretKeyRef:
        name: mariadb-secret
        key: S3_ACCESS_KEY_ID
      secretAccessKeySecretKeyRef:
        name: mariadb-secret
        key: S3_ACCESS_KEY_ID
    stagingStorage:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 1Gi
        accessModes:
          - ReadWriteOnce
        storageClassName: openebs-hostpath
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 1Gi
  metrics:
    enabled: true
