---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app glauth
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.1.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/glauth/glauth
      tag: v2.1.0
    command: ["/app/glauth", "-c", "/config"]
    service:
      main:
        ports:
          http:
            port: 5555
          ldap:
            enabled: true
            port: 389
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        enabled: true
        type: secret
        name: glauth-secret
        items:
          - key: server.toml
            path: server.toml
          - key: groups.toml
            path: groups.toml
          - key: users.toml
            path: users.toml
    resources:
      requests:
        cpu: 15m
        memory: 105Mi
      limits:
        memory: 105Mi
