---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app flood
  namespace: &namespace default
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
    - name: qbittorrent
    - name: volsync
      namespace: volsync
  components:
    - ../../../../components/ext-auth
    - ../../../../components/gatus/guarded
   # - ../../../../components/nfs-scaler
    - ../../../../components/volsync
  interval: 1h
  path: ./kubernetes/apps/default/flood/app
  postBuild:
    substitute:
      APP: *app
      GATUS_STATUS: "401"
      VOLSYNC_CAPACITY: 2Gi
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
