---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app booklore
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: booklore
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      booklore:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v1.17.0@sha256:5b594a607fb0d9533d06a850156e2b54877ed0ddd0da8cd1f0240cb38bb6ac70
            env:
              TZ: ${TIMEZONE}
              USER_ID: "1000"
              GROUP_ID: "1000"
              BOOKLORE_PORT: &port 6060
              SWAGGER_ENABLED: "false"
            envFrom:
              - secretRef:
                  name: booklore-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
          mariadb:
            image:
              repository: lscr.io/linuxserver/mariadb
              tag: 11.4.8
            env:
              TZ: ${TIMEZONE}
              MYSQL_USER: booklore
              MYSQL_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: DATABASE_PASSWORD
              MYSQL_DATABASE: booklore
              MYSQL_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: DATABASE_ROOT_PASSWORD
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 0s
    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          booklore:
            app:
              - path: /app/data
                subPath: app
            mariadb:
              - path: /config
                subPath: db
      books-claude:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/booklore/claude
        advancedMounts:
          booklore:
            app:
              - path: /mnt/claude/books
      bookdrop-claude:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/booklore/ingest
        advancedMounts:
          booklore:
            app:
              - path: /bookdrop
