---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app flood
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      flood:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: jesec/flood
              tag: master@sha256:15586c7d547af2ee53b3c9557f78a8c66bb641948907c34e5ddf2af828ed6c6f
            env:
              FLOOD_OPTION_RUNDIR: /data
              FLOOD_OPTION_AUTH: none
              FLOOD_OPTION_QBURL: http://qbittorrent-app.default.svc.cluster.local.:8080
            envFrom:
              - secretRef:
                  name: flood-secret
            resources:
              requests:
                memory: 250Mi
                cpu: 15m
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /data
