---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app resilio-helene
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/auricom/resilio-sync
      tag: 2.7.3.1381-1@sha256:51a5b6d2f3047cc5e24c4c1d8758abd0c0ca4568f3ff4250b761f51414c0303e
      env:
        - name: TZ
          value: "${TIMEZONE}"
    service:
      main:
        ports:
          http:
            port: 8889
          com:
            port: 55556
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/icon: mdi:file-arrow-up-down
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: resilio-helene-config
      sync-conf:
        enabled: true
        type: configMap
        configMap:
        name: resilio-helene-sync-conf
        mountPath: /config/sync.conf
        subPath: sync.conf
      backups:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/backups
        mountPath: /sync/backup
      home-helene:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/home/helene
        mountPath: /sync/home
    podSecurityContext:
      runAsUser: 0
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        memory: 2Gi
