---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      paperless:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.6@sha256:a28330462994b937938e02aaa5632a1effcc7f9acfba96c1bef9c50e1167a027
            env:
              COMPOSE_PROJECT_NAME: paperless
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_X_AUTH_REQUEST_EMAIL
              PAPERLESS_OCR_LANGUAGES: fra
              PAPERLESS_OCR_LANGUAGE: fra
              PAPERLESS_PORT: 8000
              PAPERLESS_DBNAME: paperless
              PAPERLESS_REDIS: redis://dragonfly.database.svc.cluster.local.:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIME_ZONE: Europe/Paris
              PAPERLESS_URL: https://paperless.${SECRET_EXTERNAL_DOMAIN}
            envFrom:
              - secretRef:
                  name: paperless-secret
            resources:
              requests:
                cpu: 25m
                memory: 3Gi
              limits:
                memory: 7Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        enabled: true
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/paperless/data
        globalMounts:
          - path: /usr/src/paperless/data
      media:
        enabled: true
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/paperless/media
        globalMounts:
          - path: /usr/src/paperless/media
      consume:
        enabled: true
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/paperless/watch
        globalMounts:
          - path: /usr/src/paperless/consume
      export:
        enabled: true
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/paperless/export
        globalMounts:
          - path: /usr/src/paperless/export
