---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app rotki
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/rotki/rotki
      tag: v1.27.1
    env:
      TZ: ${TIMEZONE}
      LOGLEVEL: info
      LOGFROMOTHERMODDULES: true
      MAX_SIZE_IN_MB_ALL_LOGS: 550
      MAX_LOGFILES_NUM: 3
      SQLITE_INSTRUCTIONS: 0
    persistence:
      config:
        enabled: true
        type: configMap
        name: rotki-configmap
        subPath: rotki_config.json
        mountPath: /config/rotki_config.json
        readOnly: true
      data:
        enabled: true
        existingClaim: rotki-data
        mountPath: /data
    service:
      main:
        ports:
          http:
            port: 8084
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/icon: mdi:cash-multiple
        hosts:
          - host: &host "rotki.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
