---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bookstack-file-exporter
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      bookstack-file-exporter:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@daily"
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: homeylab/bookstack-file-exporter
              tag: 1.6.1@sha256:62448bca26f13c73eaea86ad202161fe3b0f2f8d9ba56f012ca96c9f0e24e96d
            env:
              LOG_LEVEL: info
            envFrom:
              - secretRef:
                  name: bookstack-file-exporter-secret
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      config:
        type: configMap
        name: bookstack-file-exporter-configmap
        defaultMode: 0444 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /export/config/config.yml
            subPath: config.yml
            readOnly: true
      dump:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/apps/bookstack
        globalMounts:
          - path: /export/dump
