---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homelab-music-transcode
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      music-transcode:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@daily"
        containers:
          app:
            image:
              repository: ghcr.io/auricom/freac
              tag: 1.1.7@sha256:197523400996a023d6c6217bb0b5f42b37fbe07938677862148194e365b177b0
            command:
              - /bin/bash
              - -c
              - |
                #!/bin/bash

                set -o errexit
                set -o nounset

                if [[ -n "$HEALTHCHECKS_ID" ]]; then
                    wget "https://hc-ping.com/$HEALTHCHECKS_ID/start" -T 10 -t 5 -O /dev/null
                fi

                cd /app

                /app/transcode.sh -c
                /app/transcode.sh -r

                # Send completion ping to healthchecks
                if [[ -n "$HEALTHCHECKS_ID" ]]; then
                    wget "https://hc-ping.com/$HEALTHCHECKS_ID" -T 10 -t 5 -O /dev/null
                fi
            env:
              TRANSCODE_INPUT_DIR: /mnt/music/
              TRANSCODE_OUTPUT_DIR: /mnt/music_transcoded/
              TRANSCODE_FREAC_BIN: /app/freaccmd
            envFrom:
              - secretRef:
                  name: homelab-nas-music-transcode-secret
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      scripts:
        type: configMap
        name: homelab-music-transcode-configmap
        defaultMode: 0775 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /app/transcode.sh
            subPath: transcode.sh
            readOnly: true
      exclude:
        type: configMap
        name: homelab-music-transcode-configmap
        defaultMode: 0644 # trunk-ignore(yamllint/octal-values)
        globalMounts:
          - path: /app/transcode_exclude.cfg
            subPath: transcode_exclude.cfg
            readOnly: true
      music:
        type: nfs
        path: /mnt/vol1/music
        server: 192.168.9.10
        globalMounts:
          - path: /mnt/music
      music-transcoded:
        type: nfs
        path: /mnt/vol1/music_transcoded
        server: 192.168.9.10
        globalMounts:
          - path: /mnt/music_transcoded
