---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app pyload
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.1.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: ghcr.io/auricom/pyload-ng
      tag: 0.5.0-b3.dev29@sha256:fd1343113033b3f8dcbbdad70a2bdbac20c40852a37f6925b9506a1f8d09e1c2
    env:
      TZ: "${TIMEZONE}"
    service:
      main:
        ports:
          http:
            port: 8000
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          auth.home.arpa/enabled: "true"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    probes:
      liveness: &probe
        custom: true
        enabled: true
        spec:
          failureThreshold: 5
          httpGet:
            path: /login
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 10
      readiness: *probe
      startup: *probe
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        enabled: true
        existingClaim: pyload-config
        mountPath: /config
      downloads:
        enabled: true
        type: nfs
        server: "${LOCAL_LAN_TRUENAS}"
        path: /mnt/storage/downloads
        mountPath: /mnt/storage/downloads
    resources:
      requests:
        cpu: 15m
        memory: 105Mi
      limits:
        memory: 1Gi
