---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: homepage-secret
    template:
      engineVersion: v2
      data:
        # Generics
        HOMEPAGE_VAR_LATITUDE: "{{ .HASS_LATITUDE }}"
        HOMEPAGE_VAR_LONGITUDE: "{{ .HASS_LONGITUDE }}"

        ## HASS
        HOMEPAGE_VAR_HASS_TOKEN: "{{ .PROMETHEUS_TOKEN }}"

        ## Media
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .BAZARR__API_KEY }}"
        HOMEPAGE_VAR_JELLYFIN_TOKEN: "{{ .JELLYFIN__HOMEPAGE_API_KEY }}"
        HOMEPAGE_VAR_LIDARR_TOKEN: "{{ .LIDARR__API_KEY }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR__API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR__API_KEY }}"
  dataFrom:
    - extract:
        key: bazarr
    - extract:
        key: cloudnative-pg
    - extract:
        key: homepage
    - extract:
        key: home-assistant
    - extract:
        key: jellyfin
    - extract:
        key: lidarr
    - extract:
        key: radarr
    - extract:
        key: sonarr
