---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minio
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 950
        runAsGroup: 950
        fsGroup: 950
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      minio:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: minio/minio
              tag: RELEASE.2025-04-22T22-12-26Z@sha256:a1ea29fa28355559ef137d71fc570e508a214ec84ff8083e39bc5428980b015e
            env:
              MINIO_UPDATE: "off"
              MINIO_BROWSER_REDIRECT_URL: https://{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}
              MINIO_SERVER_URL: https://s3{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}
              MINIO_API_CORS_ALLOW_ORIGIN: https://{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN},https://s3minio.${SECRET_EXTERNAL_DOMAIN}
            args: [server, /data, --console-address, ":9001"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: &port_api 9000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                memory: 100Mi
                cpu: 50m
              limits:
                memory: 750Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port_console 9001
          api:
            port: *port_api
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port_console
      s3:
        hostnames: ["s3{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port_api
    persistence:
      data:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol2/apps/minio
        globalMounts:
          - path: /data
