---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tandoor
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          migrations:
            image:
              repository: vabene1111/recipes
              tag: 2.4.1@sha256:4ab9052b3f25bbb1185349282720b176b95973fc93e565eac0dc991ce695a19b
            envFrom: &envFrom
              - secretRef:
                  name: tandoor-secret
            command:
            - sh
            - -c
            - |
              set -e
              source /opt/recipes/venv/bin/activate
              echo "Updating database"
              python3 /opt/recipes/manage.py migrate
              python3 /opt/recipes/manage.py collectstatic --noinput
        containers:
          app:
            image:
              repository: vabene1111/recipes
              tag: 2.4.1@sha256:4ab9052b3f25bbb1185349282720b176b95973fc93e565eac0dc991ce695a19b
            envFrom: *envFrom
            env:
              DEBUG: "0"
              ALLOWED_HOSTS: "*"
              GUNICORN_MEDIA: "0"
              TZ: ${TIMEZONE}
              DB_ENGINE: django.db.backends.sqlite3
              POSTGRES_DB: /opt/recipes/data/tandoor.sqlite
              TANDOOR_PORT: &tandoorPort 8888
              FRACTION_PREF_DEFAULT: "0"
              COMMENT_PREF_DEFAULT: "1"
              SHOPPING_MIN_AUTOSYNC_INTERVAL: "5"
            command:
              - /opt/recipes/venv/bin/gunicorn
              - -b
              - :8888
              - --access-logfile
              - "-"
              - --error-logfile
              - "-"
              - --log-level
              - INFO
              - recipes.wsgi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  failureThreshold: 30
                  periodSeconds: 10
          nginx:
            image:
              repository: nginxinc/nginx-unprivileged
              tag: 1.29.3-alpine@sha256:7445ca31ca290543d404a36051a0dfe5575913381d5646e62b9ac4c3f8afef8f
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          nginx:
            port: &port 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          tandoor:
            app: &folders
              - path: /opt/recipes/data
                subPath: data
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
            migrations: *folders
            nginx:
              - path: /media
                subPath: mediafiles
              - path: /static
                subPath: staticfiles
      nginx-config:
        type: configMap
        name: tandoor-configmap
        advancedMounts:
          tandoor:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx.conf
      django-js-reverse:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/cookbook/static/django_js_reverse
            migrations:
              - path: /opt/recipes/cookbook/static/django_js_reverse
      cache:
        type: emptyDir
        advancedMounts:
          tandoor:
            nginx:
              - path: /var/cache/nginx
