---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
      nodeSelector:
        nodo.feature.node.kubernetes.io/rflink: "true"
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/instance
                      operator: In
                      values:
                        - home-assistant-code
                topologyKey: kubernetes.io/hostname
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
          secret.reloader.stakater.com/reload: home-assistant-db-secret
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "network",
                "ips": ["192.168.12.230/22"],
                "mac": "3e:59:e4:f7:43:08"
              }]
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.1.3@sha256:9f094e0531e5784d1df9bcb817d95830d1da9d4a03c914f8fd1b3cc6168c4e65
            env:
              TZ: "${TIMEZONE}"
              HASS_HTTP_TRUSTED_PROXY_1: 192.168.8.0/22
              HASS_HTTP_TRUSTED_PROXY_2: 10.10.0.0/24
              HASS_HTTP_TRUSTED_PROXY_3: 10.95.0.0/16
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 4Gi
            securityContext:
              privileged: true
    service:
      app:
        controller: *app
        # type: LoadBalancer
        # loadBalancerIP: 192.168.169.107
        # externalTrafficPolicy: Local
        ports:
          http:
            port: &port 8123
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_5503731323735171A241-if00
        hostPathType: CharDevice
        globalMounts:
          - path: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_5503731323735171A241-if00
