---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - backups
  - ./helmrelease.yaml
  - ./secret.sops.yaml
  - ./token.sops.yaml
  - ./podmonitor.yaml
  - ./volume.yaml
patchesStrategicMerge:
  - ./patches/addons.yaml
  - ./patches/postgres.yaml
