---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: opnsense-backup
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    controller:
      type: cronjob
      cronjob:
        concurrencyPolicy: Forbid
        schedule: "@daily"
    restartPolicy: OnFailure
    image:
      repository: ghcr.io/onedr0p/kubernetes-kubectl
      tag: 1.26.3@sha256:6d18a7a0321da63b7f80bf7d82bf5848656b352db07d4353bde7541546f9e0ea
    command: ["/bin/bash", "/app/opnsense-backup.sh"]
    env:
      OPNSENSE_URL: "https://opnsense.${SECRET_DOMAIN}"
      S3_URL: "https://truenas.${SECRET_DOMAIN}:51515"
    envFrom:
      - secretRef:
          name: opnsense-backup-secret
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: configMap
        name: opnsense-backup-configmap
        subPath: opnsense-backup.sh
        mountPath: /app/opnsense-backup.sh
        defaultMode: 0775
        readOnly: true
