---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komga
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      komga:
        annotations:
          secret.reloader.stakater.com/reload: authelia-secret
        containers:
          app:
            image:
              repository: gotson/komga
              tag: 1.23.6@sha256:09129eae6eff50337f039bd6e99d995126cb03226950c80e9864cbc05f10a661
            env:
              TZ: "${TIMEZONE}"
              SERVER_PORT: &port 8080
            resources:
              requests:
                memory: 4282M
                cpu: 15m
              limits:
                memory: 4282M
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      comics:
        type: nfs
        server: 192.168.9.10
        path: /mnt/vol1/home/claude/comics
        globalMounts:
          - path: /mnt/storage/home/claude/comics
