---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Label Sync"

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths: [".github/labels.yaml"]
  schedule:
    - cron: "0 0 * * *"

jobs:
  label-sync:
    name: Label Sync
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout Default Branch
        uses: actions/checkout@v5
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Sync Labels
        uses: EndBug/label-sync@v2
        with:
          token: "${{ steps.app-token.outputs.token }}"
          config-file: .github/labels.yaml
          delete-other-labels: true
