---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app joplin
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: *app
    image:
      repository: joplin/server
      tag: 2.10.5-beta
    env:
      APP_BASE_URL: https://joplin.${SECRET_CLUSTER_DOMAIN}
      APP_PORT: &port 8080
      DB_CLIENT: pg
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DATABASE: joplin
      MAILER_ENABLED: 1
      MAILER_HOST: smtp-relay.default.svc.cluster.local.
      MAILER_PORT: 2525
      MAILER_SECURITY: none
      MAILER_NOREPLY_NAME: JoplinServer
      MAILER_NOREPLY_EMAIL: joplin@${SECRET_DOMAIN}
    envFrom:
      - secretRef:
          name: *app
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          external-dns.home.arpa/enabled: "true"
          hajimari.io/icon: mdi:text
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
